@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
    --skin-color:  hsl(342, 72%, 56%);

    --hover-color: hsl(342, 92%, 46%);
    
}

html,body{
   
    font-family: 'Poppins', sans-serif;
}
::selection{
    color: #fff;
   
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.container .form{
    background: #fff;
    padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form form .form-control{
    height: 40px;
    font-size: 15px;
}
.container .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.container .form form .forget-pass a{
   font-size: 15px;
}
.container .form form .button{
    background: var(--skin-color);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    background: var(--hover-color);
}
.container .form form .link{
    padding: 5px 0;
}
.container .form form .link a{
    color: var(--skin-color);
}
.container .login-form form p{
    font-size: 14px;
}
.container .row .alert{
    font-size: 14px;
}

/* video */
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

